:root{
    --primario:#9c27b0;
    --primario-oscuro:#89119d;
    --secundario:#ffce00;
    --secundario-oscuro:rgb(233,287,2);
    --blaco:#fff;
    --negro:#000;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
/*  */
*, *:after, *:before{
    box-sizing: inherit;
}
body{
    font-family: 'Krub', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}